@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');



* {
    color: #0d0f7b;
    font-family: 'Roboto', sans-serif;
}

/* login page css start */
.logo-box-login {
    max-width: 100%;
    text-align: right;
}

h1.login-title {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.user-connect-box {
    max-width: 310px;
    margin: auto;
}

.user-connect-box input {
    border-radius: 5px;
    width: 100%;
    padding: 7px;
}

form .info-user p {
    font-size: 11px;
    margin-bottom: 5px;
}

form .info-user.info-password {
    position: relative;
    margin-top: 20px;
}

form .info-user.info-password img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 49%;
}

form .user-connect-box button {
    border: 1px solid #0d0f7b;
    border-radius: 5px;
    font-size: 15px;
    background: #0d0f7b;
    color: #fff;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    padding: 7px;
}

/* login page css finish */

/* link&search start */
.search-title {
    margin-top: 50px;
}

.customer-title {
    margin-top: 40px;
}

.second-container {
    padding: 0 10%;
}

.search-box {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 40px 0 10px 0;
}

.search-box input {
    width: 100%;
    padding: 7px 10px;
    border: 1px solid #858585;
}

.search-box input::placeholder {
    font-size: 13px;
    color: #858585;
}

.magnifying {
    position: absolute;
    right: 10px;
    top: 49%;
    width: 15px;
    height: 15px;
    transform: translateY(-50%);
}

.second-container table,
tr,
td {
    border: 1px solid #000;
}

.second-container table {
    max-width: 600px;
    width: 100%;
}

.second-container td {
    width: 25%;
    padding: 3px 10px;
    font-size: 14px;
}

.dowland-icon {
    width: 15px;
    height: 15px;
}

/* link&search finish */


.err {
    background: #ffe6ee;
    border: 1px solid #b1395f;
}

.emsg {
    color: #c12020;
    font-size: 11px;
}

footer {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 100px;
    width: 100%;

}

footer .footer-text {
    color: red;
}

footer .information-box a {
    text-decoration: none;
    font-size: 14px;
    padding: 0 10px;
    color: #0d0f7b;
}

footer .information-box a:first-child {
    padding-left: 0;
}

footer .information-box a:last-child {
    padding-right: 0;
}

footer .information-box a img {
    max-height: 17px;
    filter: invert(12%) sepia(36%) saturate(4724%) hue-rotate(217deg) brightness(107%) contrast(105%);
}

.pb-90 {
    padding-bottom: 90px;
}

html,
body {
    min-height: 100%;
    position: relative;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    min-height: 2.5rem;
}

.container {
    min-height: 100%;
}

#site {
    min-height: 100vh;
    position: relative;
}

@media only screen and (max-width: 991px) {

    .information-box {
        display: flex;
        flex-direction: column;
    }
}